<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% if title %}
    <title>The WARden | {{ title }}</title>
    {% else %}
    <title>The WARden</title>
    {% endif %}

    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='images/favicon-bitcoin.ico')}}"
    />

    <!-- Fork Awesome - icons and fonts -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
      integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
      crossorigin="anonymous"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- WARden theme CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/warden.css')}}"
    />

    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Helper Functions -->
    <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  </head>

  <body id="page-top">
    <!-- Navigation-->

    <nav
      class="navbar navbar-dark bg-steel navbar-expand-lg navbar-font justify-content-end"
    >
      <a class="dashboard-header navbar-brand" href="#page-top">Node Monitor</a>
      <!-- <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('warden.main_page')}}"
                >Main Page</a
              >
            </li>
          </ul>
        </div>
      </div> -->
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
      <div class="row" id="message_alert_area" hide>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="col">
          <div id="messagealert" class="alert alert-{{ category }}">
            {{message}}
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>

      <div class="row" id="main_body">
        <div class="col">{% block content %} {% endblock %}</div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer bg-steel small fixed-bottom">
      <div class="row text-white">
        <div class="col-sm-6 text-start float-left">
          <i class="fa fa-github" aria-hidden="true"></i>
          &nbsp;&nbsp;<a
            class="text-white"
            style="text-decoration: none"
            href="https://github.com/pxsocs/warden/"
          >
            Open Source Code</a
          >
        </div>

        <div class="col-sm-6 text-end float-end">
          Developed by
          <a
            class="text-white"
            style="text-decoration: none"
            href="https://twitter.com/alphaazeta"
          >
            <span class="text-white">@AlphaaZeta&nbsp;</span></a
          >
        </div>
      </div>
    </footer>
  </body>

  {%block modals%} {%endblock%}
</html>
