{% extends "warden/warden_layout.html" %} {% block content %}
<div class="col-12">
  <!-- dashboard -->
  <div class="row">
    <div class="col-3">
      <div
        class="text-start"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Refers to the block height of the valid chain with the most proof of work"
      >
        <span class="dashboard-numbers" id="max_height"> Loading... </span>
        <br /><hr>
        <span class="clock">block height</span></br>
        <span class="clock" id='block_info'></span>
      </div>
    </div>


    <div class="col-6">
      <div class="" id="stats">

      </div>
    </div>

    <div class="col-3">
      <div class="text-end">
        <span class="dashboard-numbers" id="price_section"> Loading... </span
        ><br /><hr>
        <span class="clock" id="price_info">

        </span>
        <br />
        <span class="clock" id="clock_section"></span>
      </div>
    </div>
  </div>

  <!-- Node List -->
  <div class="row">
    <div class="col-12">
      <div>
        <header class="text-left dashboard-header">
          Private Nodes and Public Services

          <span class="text-small float-end">
            <button id="add_node" class="btn btn-outline-light btn-sm">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              <span id='new_node_txt'>new node</span>
            </button>
          </span>
        </header>
      </div>
    </div>
  </div>

  <div
    class="row"
    id="hidden-add-node"
    style="padding-top: 10px; padding-bottom: 10px"
  >

    <div class="col-4">
      <input id = 'new_node_name' type="text" class="form-control" placeholder="Node Name" />
    </div>

    <div class="col-5">
      <input
        id = 'new_node_url'
        type="text"
        class="form-control"
        placeholder="Node URL (onion addresses are accepted)"
      />
    </div>

    <div class="col-1 text-center clock align-center">
      <input class="form-check-input" type="checkbox" value="" id="is_private_node">
      <label class="form-check-label" for="flexCheckDefault" data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="A private node is your own node, with better privacy.">
      Private Node
      </label>
    </div>

    <div class="col-2 text-end align-end">
      <button id="save_node" class="btn btn-outline-light btn-block">
        <span id='save_node_txt'>save</span>
      </button>
      <span id='delete_node_button'></span>
    </div>
  </div>

    <div class="row">
      <div class="col-12">
        <div class="content-section" id="server_table">
          <span class="text-small loadanim">gathering node info...</span>
        </div>
      </div>
    </div>

    <!-- Satoshi Quotes -->
    <div class="row" style="padding-top: 20px">
      <div class="col-12">
        <header class="text-left dashboard-header">
          Satoshi Nakamoto
          <span class="text-small float-end">
            <button id="add_wisdom" class="btn btn-outline-light btn-sm">
              <i class="fa fa-history" aria-hidden="true"></i>
              quotes
            </button>
          </span>
        </header>
      </div>
    </div>

    <div class="row" id="wisdom_text" style="padding-top: 20px">
      <div class="col-12">
        <div class="quotebox">
          <div class="text"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-start">
          <footer style="padding-top: 20px" class="blockquote-footer">
            Satoshi Nakamoto in
            <cite id="load_source" title="Source Title">...</cite>
          </footer>
          <footer class="blockquote-footer">
            <cite id="load_date">...</cite>
          </footer>
          <small>
            Source:
            <a
              href="https://raw.githubusercontent.com/NakamotoInstitute/nakamotoinstitute.org/0bf08c48cd21655c76e8db06da39d16036a88594/data/quotes.json"
              target="_blank"
              >Nakamoto Institute</a
            >
          </small>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/satoshi_quotes.js')}}"></script>
    <script src="{{url_for('static', filename='js/servers_update.js')}}"></script>
    <script src="{{url_for('static', filename='js/text_scrambler.js')}}"></script>
    <script src="{{url_for('static', filename='js/animate_number.js')}}"></script>
    <script src="{{url_for('static', filename='js/stars.js')}}"></script>

    {% endblock content %} {%block modals%} {% endblock modals %}
  </div>
</div>
